/* Orange - rgb(255,84,0) | Yellow - rgb(255,180,0) */
@font-face {
  font-family: 'hcReg';
  src:url('hc_font/regular.ttf') format('truetype');
}
@font-face {
  font-family: 'hcBold';
  src:url('hc_font/bold.ttf') format('truetype');
}

/* NAVIGATION */
.hcNav{
    background-color: white;
    height:4vw;
    position: relative;
    z-index: 202;
}
#hcLogo{
    display: inline-block;
    height: 100%;
}
#fitUlogo{
    display: inline-block;
    height:90%;
    padding-top:1.25vw;
    float: right;
    margin-right:.5vw;
}
#poweredBy{
    font-family: 'hcBold';
    color:rgb(87,87,87);
    position: absolute;
    right:3.75vw;
    top:.5vw;
    font-size:1.3vw;
    cursor: pointer;
    text-decoration: none!important;
}
.hcBar{
    text-align: right;
    background-color: rgb(255,84,0);
    position: relative;
    z-index: 201;
}
.hcBar>a{
    background-color:transparent;
    color:white;
    display: inline-block;
    padding:.35vw .95vw .35vw .95vw;
    font-family: 'Lato', sans-serif;
    font-weight:700;
    text-transform: none!important;
    border-left:.15vw solid white;
    letter-spacing: .5px;
    cursor: pointer;
    -webkit-transition:ease all .3s;
    transition:ease all .3s;
    text-decoration: none!important;
    font-size:1vw;
}
.hcBar>a:hover{
    background-color:white;
    color:rgb(255,84,0);
}

/* SECTION 1 */
.section1{
    background-image: url(homecoach/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    padding-bottom: 1.5vw;
}
.section1>img{
    width:49%;
    display: inline-block;
    vertical-align: top;
}
#vidDiv{
    width:50%;
    display: inline-block;
    vertical-align: top;
    padding-top:1.5vw;
}
#vidDiv>span{
    font-family: 'hcBold';
    color: white;
    display: block;
    text-align: center;
    line-height: 110%;
    letter-spacing: 1px;
}
#topSpan{
    font-size:2.75vw;
}
#bottomSpan{
    font-size:3.5vw;
}
#title{
    font-size:2.5vw;
}
#titleText{
    font-family: 'hcReg'!important;
    font-size:2.5vw;
    text-align: right!important;
    margin-right:10vw;
}

/* SECTION 2 */
.section2{
    vertical-align: top;
}
.section2>img{
    vertical-align: top;
    width:40%;
}
#servText{
    width:59%;
    display: inline-block;
    padding-top:1vw;
    padding-right:1vw;
}
#servTop{
    font-family: 'hcBold';
    color:rgb(87,87,87);
    display: block;
    text-align: right;
    line-height: 100%;
    font-size: 10vw;
}
#servBot{
    font-family: 'hcReg';
    color:rgb(87,87,87);
    display: block;
    text-align: right;
    line-height: 100%;
    font-size: 6vw;
}

/* SECTION 3 */
.section3{
    background-image: url(homecoach/back2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding:1.5vw;
    position: relative;
    z-index: 101;
}
#where{
    font-family: 'hcBold';
    color:rgb(87,87,87);
    display: block;
    text-align: left;
    width:100%;
    line-height: 100%;
    font-size: 6vw;
    text-shadow: 0 0 .5px black;
    letter-spacing: 1px;
}
.whereText{
    font-family: 'hcBold';
    color:rgb(87,87,87);
    font-size:3vw;
    text-align: left!important;
    margin-right:10vw;
    padding-left:2px;
    display: block;
    line-height: 115%;
    text-shadow: 0 0 .5px black;
}
#tellUs{
    position: absolute;
    bottom:0;
    left:1vw;
    font-family: 'hcReg';
    letter-spacing: 1px;
    color:rgb(87,87,87);
    font-size:5vw;
    text-align: left!important;
    margin-right:10vw;
    padding-left:2px;
    display: block;
    line-height: 90%;
    text-shadow: 0 0 1px black;
    padding-left: 5px;
}

/* SECTION 4 */
.section4{
    background-image: url(homecoach/back3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
/*    padding:1.5vw;*/
    vertical-align: top;
    position: relative;
    z-index: 100;
}
.span4{
    font-family: 'hcReg';
    letter-spacing: 1px;
    color:rgb(87,87,87);
    font-size:5vw;
    text-align: left!important;
    padding-left:2px;
    display: block;
    line-height: 90%;
    text-shadow: 0 0 .1vw black;
    margin-bottom: 1vw;
}
.span4b{
    font-family: 'hcReg';
    letter-spacing: 1px;
    color:rgb(87,87,87);
    font-size:7vw;
    text-align: left!important;
    padding-left:2px;
    display: block;
    line-height: 90%;
    text-shadow: 0 0 .1vw black;
    
}
#form4{
    width:100%;display: inline-block;
    max-width: 650px;
    margin-top:10px;
}

/* ORANGE BAR */
.orangeBar{
    background-color:rgb(255,84,0);
    height: 6vw;
}
#tellUs2{
    display: none;
}
.hideBox{
    display: none;
}
.hideBox2{
    display: none!important;
}
.homeBox1{
    background-color:rgba(30,30,30,.8);
    color:white;
    z-index: 200;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height: 120vh;
    text-align: right;
}
.homeBox2{
    background-color:rgba(30,30,30,.8);
    color:white;
    z-index: 200;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height: 120vh;
    text-align: right;
}
.homeBox3{
    background-color:rgba(30,30,30,.8);
    color:white;
    z-index: 200;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height: 120vh;
    text-align: right;
}
.homeContent{
    width:800px;
    max-width: 100%;
    max-height: 90vh;
    display: inline-block;
    background-color:rgba(0,0,0,.7);
    text-align: left;
    padding:30px;
    margin-top:6.1vw;
    -webkit-box-shadow: 0 0 25px black;
    box-shadow: 0 0 25px black;
}
.noScroll{
    overflow: hidden;
}
.closeBTN{
    color: white!important;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.5vw;
    display: inline-block;
    padding-bottom:5px;
}
.boxVid>p{
    font-size: 1vw;
    padding-left:5px;
}

@media (max-width:991px){
    .homeContent{
        width:800px;
        max-width: 100%;
        max-height: 90vh;
        padding:30px;
        margin-top:14vw;
    }
    .closeBTN{
        font-size: 2.5vw;
    }
    .boxVid>p{
        font-size: 2vw;
        padding-left:5px;
    }
    
    /* NAVIGATION */
    .hcNav{
        background-color: white;
        height:10vw;
    }
    #hcLogo{
        display: inline-block;
        height: 100%;
    }
    #fitUlogo{
        display: inline-block;
        height:94%;
        padding-top:1.5vw;
        float: right;
        margin-right:.5vw;
    }
    #poweredBy{
        font-family: 'hcBold';
        color:rgb(87,87,87);
        position: absolute;
        right:11vw;
        top:.25vw;
        font-size:3vw;
        cursor: pointer;
        text-decoration: none!important;
    }
    .hcBar{
        text-align: right;
        background-color: rgb(255,84,0);
    }
    .hcBar>a{
        padding:1vw 1.75vw 1vw 1.75vw;
        font-weight:700;
        text-transform: none!important;
        border-left:.15vw solid white;
        letter-spacing: .5px;
        cursor: pointer;
        -webkit-transition:ease all .3s;
        transition:ease all .3s;
        text-decoration: none!important;
        font-size:2.5vw;
    }
    .hcBar>a:hover{
        background-color:white;
        color:rgb(255,84,0);
    }
    #train{
        border-left:none;
    }

    /* SECTION 1 */
    .section1{
        background-image: url(homecoach/back1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: top;
        padding-bottom: 1.5vw;
    }
    .section1>img{
        width:100%;
        margin:0 auto;
        display: block;
    }
    #vidDiv{
        width:100%;
        display: inline-block;
        vertical-align: top;
        padding-top:1.5vw;
    }
    #vidDiv>span{
        font-family: 'hcBold';
        color: white;
        display: block;
        text-align: center;
        line-height: 110%;
        letter-spacing: 1px;
    }
    #topSpan{
        font-size:10vw;
    }
    #bottomSpan{
        font-size:12vw;
    }
    #vidwrap{
        width:100%!important;
    }
    #title{
        font-size:10vw;
    }
    #titleText{
        font-family: 'hcReg'!important;
        font-size:6vw;
        text-align: right!important;
        margin-right:10vw;
    }

    /* SECTION 2 */
    .section2{
        vertical-align: top;
    }
    .section2>img{
        vertical-align: top;
        width:40%;
    }
    #servText{
        width:59%;
        display: inline-block;
        padding-top:1vw;
        padding-right:1vw;
    }
    #servTop{
        font-family: 'hcBold';
        color:rgb(87,87,87);
        display: block;
        text-align: right;
        line-height: 100%;
        font-size: 10vw;
    }
    #servBot{
        font-family: 'hcReg';
        color:rgb(87,87,87);
        display: block;
        text-align: right;
        line-height: 100%;
        font-size: 6vw;
    }

    /* SECTION 3 */
    .section3{
        background-image: url(homecoach/back2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        padding:1.5vw;
        position: relative;
        z-index: 101;
    }
    #where{
        font-family: 'hcBold';
        color:rgb(87,87,87);
        display: block;
        text-align: left;
        width:100%;
        line-height: 100%;
        font-size: 6vw;
        text-shadow: 0 0 .5px black;
        letter-spacing: 1px;
    }
    .whereText{
        font-family: 'hcBold';
        color:rgb(87,87,87);
        font-size:5vw;
        text-align: left!important;
        margin-right:1vw;
        padding-left:2px;
        display: block;
        line-height: 115%;
        text-shadow: 0 0 .5px black;
    }
    #tellUs{
        display: none!important;
    }
    #tellUs2{
        font-family: 'hcReg';
        letter-spacing: 1px;
        color:rgb(87,87,87);
        font-size:7vw;
        text-align: left!important;
        padding-left:2px;
        display: block;
        line-height: 90%;
        text-shadow: 0 0 1px black;
        padding-left: 2px;
        margin-bottom:7px;
    }

    /* SECTION 4 */
    .section4{
        background-image: url(homecoach/back3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
        vertical-align: top;
        position: relative;
        z-index: 100;
    }
    .span4{
        font-family: 'hcReg';
        letter-spacing: 1px;
        color:rgb(87,87,87);
        font-size:7vw;
        text-align: left!important;

        padding-left:2px;
        display: block;
        line-height: 100%;
        text-shadow: 0 0 .1vw black;
        margin-bottom: 1vw;
    }
    .span4b{
        font-family: 'hcReg';
        letter-spacing: 1px;
        color:rgb(87,87,87);
        font-size:7vw;
        text-align: left!important;

        padding-left:2px;
        display: block;
        line-height: 100%;
        text-shadow: 0 0 .1vw black;

    }
    .bigger{
        font-size:8vw!important;
        margin-top:5px;
    }
    .bigger>img{
        height:50px!important;
        margin-top:-4vw!important;
    }
    #leftForm{
        width:100%!important;
    }

    /* ORANGE BAR */
    .orangeBar{
        background-color:rgb(255,84,0);
        height: 6vw;
    }

}
@media (max-width:650px){
    .boxVid>p{
        font-size: 3.5vw;
        padding-left:2px;
    }
    .closeBTN{
        font-size: 4vw;
    }
}
